/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap");
.services .service-content .service-description-content h4, .video h4 {
  color: black;
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
}

.services h3, .video h3 {
  color: black;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  text-align: center;
}

.services p, .video p {
  color: black;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
}

.services .service-content, .video .video-content, footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

header {
  background-image: url("../images/space-background.webp");
  background-size: cover;
  width: 100%;
  height: auto;
}
header .nav-container {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .nav-container nav {
  padding-top: 50px;
  padding-right: 50px;
}
header .nav-container nav li {
  display: inline-block;
  margin-right: 25px;
}
header .nav-container nav a {
  transition: color 0.5s;
}
header .nav-container nav a:hover {
  color: #ec1d51;
}
header .nav-container nav .link-nav {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  text-decoration: none;
}
header .nav-container img {
  width: fit-content;
  height: fit-content;
  padding-top: 35px;
  padding-left: 50px;
}
header .header-presentation-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 0px;
}
header .header-presentation-content .header-text-content {
  width: 450px;
  height: 450px;
  text-align: center;
}
header .header-presentation-content .header-text-content p {
  margin: 20px 0;
  font-size: 20px;
}
header .header-presentation-content .header-text-content h1 {
  color: white;
  font-family: "Kanit", sans-serif;
}
header .header-presentation-content .dita-logo-content {
  width: fit-content;
  height: fit-content;
  margin-left: 100px;
}
header .header-presentation-content .dita-logo-content .dita-logo {
  height: auto;
  width: 95%;
}
header h1, header p, header a {
  color: white;
  font-family: "Kanit", sans-serif;
}

footer {
  background-image: url("../images/footer-background.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
}
footer .footer-content img {
  width: 100%;
  height: auto;
  position: relative;
  top: 30px;
}
footer .footer-content .social-media-col-title {
  color: white;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}
footer .footer-content ul {
  list-style-type: none;
}
footer .footer-content li {
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 5px;
}
footer .footer-content a {
  color: white;
  text-decoration: none;
}
footer .footer-content .footer-text-content {
  width: 20%;
}
footer .footer-content .footer-text-content h4 {
  color: white;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}
footer .footer-content .footer-text-content p {
  color: white;
  text-align: justify;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}
footer .footer-content .social-media-column, footer .footer-content .services-column, footer .footer-content .legal-policy-column {
  margin: 30px 0px;
}
footer .copyright-content {
  color: white;
  font-family: "Kanit", sans-serif;
  text-align: center;
  border-top: 1px solid white;
  padding: 15px 0px;
}

.features .features-content .features-row .feature, .features .features-content .features-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features .features-content {
  width: 80%;
  margin: auto;
}
.features .features-content .features-row {
  flex-direction: row;
  margin-bottom: 150px;
}
@media only screen and (max-width: 883px) {
  .features .features-content .features-row {
    flex-wrap: wrap;
  }
}
.features .features-content .features-row .feature {
  flex-direction: column;
  margin: 0px 20px;
  width: 462.38px;
  height: 262px;
}
.features .features-content .features-row .feature .feature-icon {
  height: auto;
  width: auto;
  color: white;
  background-color: #EB2B63;
  padding: 30px;
  border-radius: 30px;
}
.features .features-content .features-row .feature h5 {
  text-align: center;
  color: black;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0;
}
.features .features-content .features-row .feature p {
  text-align: center;
  color: black;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.plan-banner {
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.plan-banner p {
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 27px;
  text-align: justify;
  margin-right: 100px;
}

.plan-cards {
  margin-bottom: 150px;
}
.plan-cards .cards {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.plan-cards .cards .card {
  width: 400px;
  margin-left: 20px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  padding: 0;
  border: none;
}
@media screen and (max-width: 1729px) {
  .plan-cards .cards .card {
    margin-top: 20px;
  }
}
.plan-cards .cards .card .card-header {
  background-color: #732BEB;
  color: white;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}
.plan-cards .cards .card .card-body {
  background-color: #f6f0fa;
  border: 1px solid lightgray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.plan-cards .cards .card .card-body h5 {
  font-weight: 500;
  font-size: 25px;
  margin: 30px 0;
}
.plan-cards .cards .card .card-body p {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form {
  color: white;
  background: linear-gradient(to bottom, #010194, purple);
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  margin-bottom: 200px;
  padding: 50px 50px;
  border-radius: 100px;
}
@media only screen and (max-width: 589px) {
  .contact form {
    width: 100%;
    height: auto;
  }
}
.contact form a {
  color: white;
}
.contact form h4 {
  font-size: 40px;
}

.get-started {
  margin-bottom: 300px;
}
.get-started h4 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  margin-top: 5px;
}
.get-started h5 {
  color: #adadad;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  margin-top: 50px;
}
.get-started .get-started-content {
  width: 70%;
  margin: auto;
  text-align: center;
  background-image: url("../images/get-started/xdots.webp");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.get-started .get-started-content img {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 1303px) {
  .get-started .get-started-content {
    background-image: url();
  }
}
@media only screen and (min-width: 2305px) {
  .get-started .get-started-content {
    background-image: url();
  }
}
.get-started .get-started-content .started-card {
  margin-left: 100px;
}
.get-started .get-started-content .started-card .img-content-1 {
  height: 200px;
  width: 200px;
  margin: auto;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 900px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 299px) {
  .get-started .get-started-content .started-card .img-content-1 {
    width: 100%;
    height: auto;
  }
}
.get-started .get-started-content .started-card .img-content-2 {
  width: 150px;
  height: 150px;
  margin: auto;
  border: 1px solid lightslategrey;
  background-color: #bbbbbe;
  border-radius: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 299px) {
  .get-started .get-started-content .started-card .img-content-2 {
    width: 100%;
    height: auto;
  }
}
.get-started .get-started-content .started-card .started-card-center-1 {
  border: 1px solid lightgreen;
  background-color: lightgreen;
}
.get-started .get-started-content .started-card .started-card-center-2 {
  border: 1px solid #52aa52;
  background-color: #52aa52;
}
.get-started .started-button-content {
  width: 70%;
  margin-top: 100px;
  text-align: center;
  margin-left: 17.5%;
}

.statistics-content {
  background-image: url("../images/milestones-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 20%;
}
.statistics-content .statistics-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.statistics-content .statistics-text div {
  width: 80%;
}
.statistics-content .statistics-text p {
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
}
.statistics-content .statistics-rates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
}
.statistics-content .statistics-rates .rate img {
  width: 130px;
  height: 130px;
}
.statistics-content .statistics-rates .rate h2 {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}
.statistics-content .statistics-rates .rate p {
  color: white;
  font-family: "Kanit", sans-serif;
  text-align: center;
}

.team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 150px;
}
.team-content .team-member img {
  width: 300px;
  height: 300px;
  border-radius: 200px;
}
@media only screen and (max-width: 299px) {
  .team-content .team-member img {
    width: 100%;
    height: auto;
  }
}
.team-content .team-member h2 {
  color: black;
  font-family: "Kanit", sans-serif;
  text-align: center;
  padding-top: 20px;
}
.team-content .team-member p {
  color: black;
  font-family: "Kanit", sans-serif;
  text-align: center;
}
.team-content .team-member ul {
  list-style-type: none;
  text-align: center;
  width: 90%;
}
.team-content .team-member li {
  display: inline-block;
  font-size: 20px;
  margin: 0px 5px;
}
.team-content .team-member a {
  color: #5d3088;
}

.video .video-content {
  margin: 200px 0px;
}
.video .video-content .video-text-content {
  width: 40%;
}
.video .video-content .video-text-content .video-link {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
.video .video-content .video-div {
  width: 600px;
}
.video .video-content .video-div iframe {
  margin-top: 50px;
}

.services .service-content {
  margin: 200px 0px;
}
.services .service-content img {
  height: 500px;
  width: 100%;
}
.services .service-content .service-description-content {
  width: 40%;
}
.services .service-content .service-description-content .service-link {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
