/* Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap'); */

/* Reseto estilos predeterminados de HTML5 */
* {
  padding: 0;
  margin: 0;
}

/* ESTILO BOTONES */
button {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  background-color: rgb(236, 29, 81);
  border: 1px solid rgb(236, 29, 81);
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.2);
}

/* ESTILO DE TITULOS DE SECCIONES */
.titles-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0px 100px 0px;
}

.get-started .titles-content, .contact .titles-content, .features .titles-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 200px 0px;
}

.secondary-titles-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-titles-content img {
  height: fit-content;
  width: fit-content;
}

/* Estilos de Footer y Header */
/* header {
  background-image: url('../images/space-background.webp');
  background-size: cover;
  width: 100%;
  height: auto;
} */

/* footer {
  background-image: url('../images/footer-background.webp');
  background-position: center;
  background-size: cover;
  width: 100%;
} */

/* Estilos del logo DITA */
/* .header-presentation-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px 0px;
}

.dita-logo {
  height: 450px;
  width: 100%;
}

.dita-logo-content {
  width: 30%;
  height: auto;
  margin-left: 100px;
} */

/* Estilos de Header Text */
/* .header-text-content {
  width: 25%;
  height: auto;
  text-align: center;
}

.header-text-content p {
  margin: 20px 0;
  font-size: 20px;
} */

/* Estilos del NAV MENU */
/* .link-nav {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  text-decoration: none;
}

.nav-container {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-container img {
  width: fit-content;
  height: fit-content;
  padding-top: 35px;
  padding-left: 50px;
}

nav {
  padding-top: 50px;
  padding-right: 50px;
}

nav li {
  display: inline-block;
  margin-right: 25px;
}

h1, header p, header a {
  color: white;
  font-family: 'Kanit', sans-serif;
}

nav a {
  transition: color 0.5s;
}

nav a:hover {
  color: rgb(236, 29, 81);
} */

/* Estilos Footer */
/* .footer-text-content {
  width: 20%;
}
.footer-text-content h4{
  color: white;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

.footer-text-content p{
  color: white;
  text-align: justify;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

.social-media-column, .services-column, .legal-policy-column {
  margin: 30px 0px;
}

footer img {
  width: 300px;
  height: 300px;
  position: relative;
  top: 30px;
}

footer h4 {
  color: white;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}

footer ul {
  list-style-type: none;
}

footer li {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  font-weight: 200;
}

footer a {
  color: white;
  text-decoration: none;
} */

/* Estilos del Copyright */
/* .copyright-content {
  color: white;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  border-top: 1px solid white;
  padding: 15px 0px;
} */

/************************ ESTILOS DE INDEX  ************************/
/* ESTILOS GET STARTED */
/* .get-started {
  margin-bottom: 300px;
}
.get-started-content {
  width: 70%;
  margin: auto;
  text-align: center;
  background-image: url("../images/get-started/xdots.webp");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.get-started-content h4 {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  margin-top: 5px;
}

.get-started-content h5 {
  color: rgb(173, 173, 173);
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  margin-top: 50px;
}

.started-card {
  margin-left: 100px;
}

.img-content-1 {
  height: 200px;
  width: 200px;
  margin: auto;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 900px;
  display: flex;
  align-items: center;
}

.img-content-2 {
  width: 150px;
  height: 150px;
  margin: auto;
  border: 1px solid lightslategrey;
  background-color: rgb(187, 187, 190);
  border-radius: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 299px) {
  .img-content-1 {
    width: 100%;
    height: auto;
  }

  .img-content-2 {
    width: 100%;
    height: auto;
  }
}

.started-card-center-1 {
  border: 1px solid lightgreen;
  background-color: lightgreen;
}

.started-card-center-2 {
  border: 1px solid rgb(82, 170, 82);
  background-color: rgb(82, 170, 82);
}

.get-started-content img {
  width: 50px;
  height: 50px;
}

.started-button-content {
  width: 70%;
  margin-top: 100px;
  text-align: center;
  margin-left: 17.5%;
}

@media only screen and (max-width: 1303px) {
  .get-started-content {
    background-image: url();
  }
}

@media only screen and (min-width: 2305px) {
  .get-started-content {
    background-image: url();
  }
} */

/* Seccion About Us, Services y Video */
/* .video-div {
  width: 600px;
} */

/* .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
} */

/* .service-content {
  margin: 200px 0px;
} */

/* .plan-cards h3 {
  color: black;
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  text-align: center;
}

.plan-cards p {
  color: black;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
} */

/* .service-link {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
} */

/* .service-description-content {
  width: 40%;
} */

/* iframe {
  margin-top: 50px;
} */

/* .service-content img {
  height: 500px;
  width: 100%;
} */

/* .statistics-content {
  background-image: url('../images/milestones-bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 100px 20%;
}

.statistics-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.statistics-text div {
  width: 80%;
}

.statistics-text p {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
}

.statistics-rates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px ;
}

.rate img {
  width: 130px;
  height: 130px;
}
.rate h2 {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  
}

.rate p {
  color: white;
  font-family: 'Kanit', sans-serif;
  text-align: center;
} */

/* .team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 150px;
}

.team-member img {
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

@media only screen and (max-width: 299px) {
  .team-member img {
    width: 100%;
    height: auto;
  }
}

.team-member h2 {
  color: black;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding-top: 20px;
}

.team-member p {
  color: black;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

.team-member ul {
  list-style-type: none;
  text-align: center;
  width: 90%;
}

.team-member li {
  display: inline-block;
  font-size: 20px;
  margin: 0px 5px;
}

.team-member a {
  color: #5d3088;
} */

/************************ ESTILOS DE PLANS  ************************/

/* Seccion Features */
/* .features-content {
  width: 80%;
  margin: auto;
} */

/* .features-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
} */

/* .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
} */

/* .feature h5 {
  text-align: center;
  color: black;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0;
} */

/* .feature p {
  text-align: center;
  color: black;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 20px;
} */

/* .feature-icon {
  height: auto;
  width: auto;
  color: white;
  background-color: #EB2B63;
  padding: 30px;
  border-radius: 30px;
} */

/* Seccion Banner */
/* .plan-banner {
  background-image: url('../images/banner-bg.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
} */

/* .plan-banner p {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 27px;
  text-align: justify;
  margin-right: 100px;
} */

/* Seccion Cards */
/* .plan-cards {
  margin-bottom: 150px;
} */

/* .cards {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
} */

/* .card {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  padding: 0;
  border: none;
} */

/* .card-header {
  background-color: #732BEB;
  color: white;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
} */

/* .card-body {
  background-color: rgb(246, 240, 250);
  border: 1px solid lightgray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} */

/* .card-title {
  font-weight: 500;
  font-size: 25px;
  margin: 30px 0;
} */
/* .card-body p {
  text-align: center;
} */

/************************ ESTILOS DE CONTACT  ************************/
/* .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* ESTILOS DE FORMULARIO */
/* .contact form {
  color: white;
  background: linear-gradient(to bottom, rgb(1, 1, 148), purple);
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  margin-bottom: 200px;
  padding: 50px 50px;
  border-radius: 100px;
}

form a  {
  color: white;
}

form h4 {
  font-size: 40px;
}

form #message {
  width: 500px;
  height: 250px;
} */