.video {
  background-image: url('../images/milestones-bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 150px 70px;

  h4 {
    @extend %section-h4;
    color: white;
  }

  p {
    @extend %section-p;
    color: white;
    font-weight: 100;
  }
  .video-content {
    // margin: 200px 0px;
    @extend %section-content;

    .video-text-content {
      width: 40%;
      padding-right: 50px;

      .video-link{
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
      }
    }

    .video-div {
      width: 600px;
    
      iframe {
        margin-top: 50px;
      }
    }
  }
}