.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    @extend %section-h3;
  }

  p {
    @extend %section-p;
  }

  form {
    color: white;
    background: linear-gradient(to bottom, rgb(1, 1, 148), purple);
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin-bottom: 200px;
    padding: 50px 50px;
    border-radius: 100px;
    @media only screen and (max-width: 589px) {
      width: 100%;
      height: auto;
    }

    a {
      color: white;
    }

    h4 {
      font-size: 40px;
    }
  }
}

.localization {
  .localization-content {
    color: white;
    font-family: 'Kanit', sans-serif;
    background-image: url('../images/milestones-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .localization-info{
      text-align: center;
      margin-right: 50px;

      h4 {
        font-weight: 700;
      }

      p {
        font-weight: 100;
        margin-bottom: 0px;
      }
      .telephone-info {
        margin: 50px 0px;
      }
      
      .email-info {
        margin-bottom: 30px;
      }
    }

    .localization-map{
      width: 60%;
      iframe {
        width: 100%;
      }
    }
  }
}