.plan-banner {
  background-image: url('../images/banner-bg.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  p {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 27px;
    text-align: justify;
    margin-right: 100px;
  }
}