/* Reseto estilos predeterminados de HTML5 */
* {
  padding: 0;
  margin: 0;
}

/* ESTILO BOTONES */
button {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  background-color: rgb(236, 29, 81);
  border: 1px solid rgb(236, 29, 81);
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover{
    transform: scale(1.2);
  }
}

/* ESTILO DE TITULOS DE SECCIONES */
.titles-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 150px 0px;

  .secondary-titles-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: fit-content;
      width: fit-content;
    }
  }
}